<div class="formGroup">
    <label class="label" for="Reagent_ID">Reagent ID</label>
      <input class="disable" type="number"id="Reagent_ID" name="Reagent_ID" readonly value="<%= model.Reagent_ID %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="Reagent_Name">Reagent Name</label>
      <input class="disable" id="Reagent_Name" type="text" name="Reagent_Name" readonly value="<%= model.Reagent_Name %>" />
  </div>

  <div class="formGroup">
    <label class="label" for="Lot_Number">Lot Number</label>
      <input class="disable" id="Lot_Number" type="number" name="Lot_Number" readonly value="<%= model.Lot_Number %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="Receive_Date">Receive Date</label>
      <input class="disable" type="date" id="Receive_Date" name="Receive_Date" readonly value="<%= model.Receive_Date %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="QC_Date">QC Date</label>
      <input class="" type="date" id="QC_Date" name="QC_Date" value="<%= model.QC_Date %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="Performed_By">Performed By</label>
      <input class="" id="Performed_By" type="text" name="Performed_By" value="<%= model.Performed_By %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="Comments">Comments</label>
      <textarea class="" cols="20" type="text" id="Comments" name="Comments" maxlength="1000" rows="5"><%= model.Comments %></textarea>
  </div>