<div class="formGroup">
    <label class="label" for="Department_Name">Department Name</label>
      <input class="disable" type="text" id="Department_Name" name="Department_Name" readonly value="<%= model.Department_Name %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="Department_Bench">Department Bench</label>
      <input class="disable" type="text" id="Department_Bench" name="Department_Bench" readonly value="<%= model.Department_Bench %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="Instrument">Instrument</label>
      <input class="disable" type="text" id="Instrument" name="Instrument" readonly value="<%= model.Instrument %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="Reagent_Name">Reagent Name</label>
      <input class="disable" id="Reagent_Name" type="text" name="Reagent_Name" readonly value="<%= model.Reagent_Name %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="Receive_Date">Receive Date</label>
      <input class="disable" type="date" id="Receive_Date" name="Receive_Date" readonly value="<%= model.Receive_Date %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="Lot_Number">Lot Number</label>
      <input class="disable" type="number" id="Lot_Number" name="Lot_Number" readonly value="<%= model.Lot_Number %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="Expiration_Date">Expiration Date</label>
      <input class="disable" type="date" id="Expiration_Date" name="Expiration_Date" readonly value="<%= model.Expiration_Date %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="Quantity_Initial">Quantity Initial</label>
      <input class="disable" type="text" id="Quantity_Initial" name="Quantity_Initial" readonly value="<%= model.Quantity_Initial %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="Quantity_Current">Quantity Current</label>
      <input class="" type="number" id="Quantity_Current" name="Quantity_Current" value="<%= model.Quantity_Current %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="QC_Status">QC Status</label>
      <input class="disable" type="text" id="QC_Status" name="QC_Status" readonly value="<%= model.QC_Status %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="Received_By">Received By</label>
      <input class="disable" type="text" id="Received_By" name="Received_By" readonly value="<%= model.Received_By %>" />
  </div>
  
  <div class="formGroup">
    <label class="label" for="Comments">Comments</label>
      <textarea class="disable" cols="20" type="text" id="Comments" name="Comments" maxlength="1000" readonly rows="5"><%= model.Comments %></textarea>
  </div>