<!--This view is the /completeQC route and will display a table of reagents with completed QC-->
<%- include("_header") -%>
<div style="overflow-x:auto;">
  <table id="reagentTable">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Reagent</th>
          <th scope="col">Lot</th>
          <th scope="col">Receive Date</th>
          <th scope="col">QC Date</th>
          <th scope="col">Performed By</th>
          <th scope="col">Comment</th>
          <th scope="col">Link to Reagent</th>
        </tr>
      </thead>
      <tbody>
          <% for (const obj of model){ %>
            <% let reagentData = Object.values(obj) %>
            <tr>
            <% reagentData.forEach(function (reagent){ %>
              <td><%= reagent %></td>
            <% }) %>
              <td><a href="/reagent/<%= reagentData[1] %>"><button type="button" class="edit"><%= reagentData[1] %></td></a></button>
            </tr>
          <% } %>
      </tbody>
    </table>
</div>
  <%- include("_footer") -%>