<%- include("_header") -%>
<div class="formContainer">
  <div class="formAreaLong">
    <form action="/remove/<%= model.Reagent_ID %>" method="post">
      <div class="formInput">
        
          <%- include("_remover") -%>
      
          <div class="">
            <label class=""></label>
            <div class="">
              <button class="edit" type="submit">Remove</button>
              <button class="remove"><a  href="/reagent/<%= model.Reagent_Name %>">Cancel</a></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
<%- include("_footer") -%>