<%- include("_header") -%>
<div class="formContainer">
  <div class="formAreaLong">
    <form action="/remove/<%= model.Reagent_ID %>" method="post">
      <div class="formInput">
        
          <%- include("_remover") -%>
      
          <div class="">
            <label class=""></label>
            <div class="buttonRow">
              <input type="submit" value="Update Quantity">
              <a class="cancel" href="/reagent/<%= model.Reagent_Name %>"><h5>Cancel</h5></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
<%- include("_footer") -%>